target/*
./*.pdf
./test_
test_*
.vscode/*
.cargo/*
.idea/
*.pdf
*.svg
out.txt
/pkg
examples/.DS_Store
Cargo.lock
.DS_Store
web/pdfjs-4.7.76-legacy-dist
web/pdfjs-4.7.76-legacy-dist/*
web/__MACOSX
.DS_Store
*.txt
/default-fonts.js
/tests/e2e/node_modules
/tests/e2e/package.json
/tests/e2e/package-lock.json
/.cargo/
